*.iml
.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/markdown-navigator/profiles_settings.xml

app/release/output.json
app/src/debug/res/values/api_keys.xml
app/src/release/res/values/api_keys.xml

app/release/app-release.apk
