<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fisincorporated.soaringforecast">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.fisincorporated.soaringforecast.app.SoaringWeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/glider_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.fisincorporated.soaringforecast.drawer.WeatherDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.fisincorporated.soaringforecast.settings.SettingsActivity"
            android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.fisincorporated.soaringforecast.drawer.WeatherDrawerActivity"/>
         </activity>

       <activity
            android:name="com.fisincorporated.soaringforecast.task.TaskActivity"
            android:screenOrientation="portrait">
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="com.fisincorporated.soaringforecast.drawer.WeatherDrawerActivity"/>
       </activity>

        <activity
            android:name="com.fisincorporated.soaringforecast.satellite.SatelliteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.soaringforecast.drawer.WeatherDrawerActivity"/>
        </activity>

        <activity
            android:name="com.fisincorporated.soaringforecast.airport.AirportActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.soaringforecast.drawer.WeatherDrawerActivity"/>
        </activity>
        <!-- <activity android:name=".drawer.WeatherDrawerActivity"/> -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GoogleMapsKey"/>


    </application>

</manifest>