<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.soaringforecast.rasp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="org.soaringforecast.rasp.app.SoaringWeatherApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/glider_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        android:requestLegacyExternalStorage="true"
        >

        <!-- fixes bug for maps on targetSDk version  28 -->
        <!-- java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/ProtocolVersion; -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.settings.SettingsActivity"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.task.TaskActivity"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.turnpoints.TurnpointActivity"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.satellite.SatelliteActivity"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.airport.AirportActivity"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.about.AboutActivity"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.windy.WindyActivity"
            android:label="@string/windy"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name="org.soaringforecast.rasp.turnpoints.airnav.AirNavActivity"
            android:label="@string/airnav"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>

        <activity
            android:name=".one800wxbrief.WxBriefRequestActivity"
            android:label="@string/one_800_wx_brief"
            android:parentActivityName="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.soaringforecast.rasp.soaring.forecast.ForecastDrawerActivity" />
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GoogleMapsKey value in debug(or release)/res/values/api_keys and not should not be
             loaded to github -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GoogleMapsKey" />

        <!-- This is needed for PDF view to read any PDF's downloaded to Downloads directory -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>